---
import CalendarPage from '../components/CalendarPage.svelte';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Astro + Svelte Calendar</title>
    <link rel="stylesheet" href="/calendar.css" />
  </head>
  <body>
    <!-- Ensure we skip SSR so localStorage doesn't break -->
    <CalendarPage client:only="svelte" />
  </body>
</html>
