---
// filepath: /c:/Users/jeffr/OneDrive/Documents/GitHub/Calendar/src/pages/index.astro
import CalendarPage from '../components/CalendarPage.svelte';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Calendar Visualizer</title>
    <link rel="stylesheet" href="/calendar.css" />
    <link rel="icon" type="image/png" href="/src/assets/favicon.png" />
  </head>
  <body>
    <!-- Ensure we skip SSR so localStorage doesn't break -->
    <CalendarPage client:only="svelte" />
  </body>
</html>